h1{
/* 1. Text features */
    text-align: center;
    justify-content: center;
    color: gold;
/* 2. Shape features */
    background-color:beige;
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 15px;
}