h1{
/* 1. Text features */
    text-align: center;
    justify-content: center;
    color: gold;
/* 2. Shape features */
    background-color:beige;
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 15px;
}
ul {
    display:flex;
    list-style: none;
    display:ruby-base-container;
    margin-right: 15px;
     padding: 10px 20px;
     gap: 20px;
}
ul li{
    background-color: aqua;
    margin-left: 10px;
    margin-right: 10px;
}